@import '../../styles/variables';
.wrapper {
  overflow-y: overlay;

  .subImagesList {
    position: relative;
    height: 100px;
    min-width: 1000px;

    .imageItem {
      padding: 0px !important;
      float: left;
      margin-right: 10px;
      border-bottom: 0px;
      margin: 0px !important;

      transition: 0.1s;

      cursor: pointer;

      .subImage {
        border-bottom: 2px solid rgba($color: #fff, $alpha: 0);
        height: 80px;
        margin-right: 10px;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
      .active {
        opacity: 0.95;
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}
